@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v26-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v26-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/barlow-v12-latin-800.woff2") format("woff2"), url("../fonts/barlow-v12-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Fraunces";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

#header {
  padding-top: 9px;
  padding-bottom: 30px;
  margin-top: 35px;
  margin-bottom: 27px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.nav__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.ham__menu {
  display: none;
}

@media only screen and (max-width: 660px) {
  .nav__list {
    display: none;
  }
  .ham__menu {
    display: block;
  }
}
#hero {
  margin-bottom: 136px;
}

.hero__content {
  background: url("../../img/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 117px;
  padding-bottom: 132px;
  border-radius: 10px;
}

.hero__title {
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  font-weight: 900;
  max-width: 493px;
  margin-left: 85px;
  margin-bottom: 32px;
}

.hero__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 85px;
  max-width: 417px;
  margin-bottom: 56px;
}

.hero__btn {
  background: #0e8784;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  margin-left: 85px;
}

@media only screen and (max-width: 770px) {
  .hero__title {
    font-size: 48px;
    line-height: 48px;
  }
  .hero__content {
    background: url("../../img/hero-tablet-bg.jpg") no-repeat center contain;
    padding-top: 104px;
    padding-bottom: 104px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .hero__content {
    padding-top: 100px;
    padding-bottom: 99px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .hero__text {
    margin-left: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
  }
  .hero__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 450px) {
  .hero__content {
    background: url("../../img/hero-mobile-bg.jpg") no-repeat center;
    border-radius: 10px;
    padding: 0 24px;
    padding-top: 100px;
    padding-bottom: 99px;
  }
  .hero__title {
    margin-bottom: 24px;
  }
  .hero__text {
    margin-bottom: 39px;
  }
}/*# sourceMappingURL=main.css.map */