#footer {
	margin-top: 200px;
	margin-bottom: 88px;
}

.footer__block {
	background: #2c343e;
	display: flex;
	padding: 47px;
	align-items: center;
	justify-content: space-between;
}

.logo-block {
	display: flex;
	align-items: center;
	gap: 102px;
}

.footer__list {
	display: flex;
	gap: 33px;
	text-transform: uppercase;
}

.footer__item {
	a {
		font-family: 'Barlow';
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.923077px;
		color: #83888f;
	}
}

.footer__links {
	display: flex;
	gap: 24px;
	align-items: center;
}

@media only screen and (max-width: 945px) {
	.footer__block {
		flex-direction: column;
		text-align: center;
	}

	.footer__list {
		margin-top: 32px;
		margin-bottom: 65px;
	}

	.logo-block {
		flex-direction: column;
		gap: 0;
	}
}

@media only screen and (max-width: 443px) {
	.footer__list {
		flex-direction: column;
	}
} 